;; shadow-cljs configuration
{:source-paths ["src/dev"
                "src/cljs"
                "src/test"]
 :deps {:aliases [:shadow-cljs]}
 :nrepl {:port 9000}
 :dev-http {8030 "public/jegkan"}
 :dependencies
 []

 :builds
 {:jegkan    {:target            :browser
               :output-dir        "public/jegkan/js"
               :asset-path        "/js"
               :after-load        jegkan.core/reload!
               :modules           {:main {:init-fn jegkan.core/init!}}
               :module-hash-names 4
               :release           {:output-dir       "dist/jegkan/js"
                                   :compiler-options {:closure-defines {goog.DEBUG false}
                                                      :infer-externs   :auto
                                                      :optimizations   :advanced}}

               :dev               {:compiler-options {:closure-defines {goog.DEBUG true}
                                                      :infer-externs   :auto
                                                      :optimizations   :none}}}}}

