:root {
   --brand-dim: var(--orange-4);
   --text1-dim: var(--gray-3);
   --text2-dim: var(--gray-5);
   --surface1-dim: var(--gray-9);
   --surface2-dim: var(--gray-8);
   --surface3-dim: var(--gray-7);
   --surface4-dim: var(--gray-4);
   --buttoncta0-dim: var(--green-3);
   --buttoncta1-dim: var(--green-7);
   --buttoncta2-dim: var(--green-8);
   --buttondanger0-dim: var(--red-3);
   --buttondanger1-dim: var(--red-7);
   --buttondanger2-dim: var(--red-8);
   --button0-dim: var(--gray-1);
   --button1-dim: var(--gray-7);
   --button2-dim: var(--gray-8);

   --brand-light: var(--orange-6);
   --text1-light: var(--gray-9);
   --text2-light: var(--gray-6);
   --surface1-light: var(--gray-1);
   --surface2-light: var(--gray-0);
   --surface3-light: var(--gray-3);
   --surface4-light: var(--gray-5);
   --buttoncta0-light: var(--green-1);
   --buttoncta1-light: var(--green-5);
   --buttoncta2-light: var(--green-6);
   --buttondanger0-light: var(--red-1);
   --buttondanger1-light: var(--red-5);
   --buttondanger2-light: var(--red-6);
   --button0-light: var(--gray-9);
   --button1-light: var(--gray-4);
   --button2-light: var(--gray-5);
}

@media (prefers-color-scheme: light) {
    :root {
       --brand: var(--brand-light);
       --text1: var(--text1-light);
       --text2: var(--text2-light);
       --surface1: var(--surface1-light);
       --surface2: var(--surface2-light);
       --surface3: var(--surface3-light);
       --surface4: var(--surface4-light);
       --buttoncta0: var(--buttoncta0-light);
       --buttoncta1: var(--buttoncta1-light);
       --buttoncta2: var(--buttoncta2-light);
       --buttondanger0: var(--buttondanger0-light);
       --buttondanger1: var(--buttondanger1-light);
       --buttondanger2: var(--buttondanger2-light);
       --button0: var(--button0-light);
       --button1: var(--button1-light);
       --button2: var(--button2-light);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
      --brand: var(--brand-dim);
      --text1: var(--text1-dim);
      --text2: var(--text2-dim);
      --surface1: var(--surface1-dim);
      --surface2: var(--surface2-dim);
      --surface3: var(--surface3-dim);
      --surface4: var(--surface4-dim);
      --buttoncta0: var(--buttoncta0-dim);
      --buttoncta1: var(--buttoncta1-dim);
      --buttoncta2: var(--buttoncta2-dim);
      --buttondanger0: var(--buttondanger0-dim);
      --buttondanger1: var(--buttondanger1-dim);
      --buttondanger2: var(--buttondanger2-dim);
      --button0: var(--button0-dim);
      --button1: var(--button1-dim);
      --button2: var(--button2-dim);
  }
}